{
  "src/**/*.{ts,html,json}": "prettier --write",
  "docs/**/*.{ts,html,json}": "prettier --write",
  "test/**/*.{ts,html,json}": "prettier --write",
  "src/**/*.{css,scss}": "stylelint --fix",
  "docs/**/*.{css,scss}": "stylelint --fix"
}
