NEXT_PUBLIC_GEOBASE_PROJECT_REF=[get-from-geobase.app]
NEXT_PUBLIC_GEOBASE_API_KEY=[get-from-geobase.app]
NEXT_PUBLIC_GEOBASE_EMBEDDINGS_PROJECT_REF=[get-from-geobase.app]
NEXT_PUBLIC_GEOBASE_EMBEDDINGS_CACHE_ANON_KEY=[get-from-geobase.app]
NEXT_PUBLIC_MAPBOX_TOKEN=[get-from-mapbox.com]
NEXT_PUBLIC_GEOBASE_TITILER=[get-from-geobase.app]